


/* .bottomContainer {
   margin-left: 100px;
  margin-bottom: 225px;

}

#company, #communities, #usefulLinks {
   float: left;
  width: 33.33%;
  padding: 0px;
  margin-left: 200px;
margin-right: -425px;
margin-top: -45px;
} */
